<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ModelMapper">
    <!--查询所有模型列表-->
    <select id="modelList" resultType="com.bean.Model">
        SELECT model_name
        FROM  model
        WHERE user_id = #{user_id} OR user_id = 0
    </select>
    <!--查询系统模型列表-->
    <select id="sysModelList" resultType="com.bean.Model">
        SELECT model_name,model_classify
        FROM  model
        WHERE  model_classify != 1
    </select>
    <!--查询我的模型列表-->
    <select id="myModelList" resultType="com.bean.Model">
        SELECT model_name
        FROM  model
        WHERE user_id = #{user_id}
    </select>
    <!--添加模型-->
    <insert id="addModel" parameterType="com.bean.Model">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from model where model_name = #{model_name}
        </selectKey>
        <if test="count == 0">
            INSERT INTO model
            (model_name,model_classify,model_info)
            VALUE (#{model_name},#{model_classify},#{model_info})
        </if>
        <if test="count > 0">   <!--如果模型名称已存在，就更新模型说明-->
            UPDATE model SET
            model_info = #{model_info}
            WHERE model_name = #{model_name}
        </if>
    </insert>
    <!--得到json-->
    <select id="getJson" resultType="com.bean.Model">
        SELECT json
        FROM  model
        WHERE model_name = #{model_name} AND user_id = #{user_id}
    </select>
    <!--得到temp-->
    <select id="getTemp" resultType="com.bean.Model">
        SELECT temp
        FROM  model
        WHERE model_name = #{model_name} AND user_id = #{user_id}
    </select>
    <!--更新临时json字段-->
    <update id="updateTemp" parameterType="com.bean.Model">
        UPDATE model SET
        temp =  #{temp}
        WHERE model_name = #{model_name} AND user_id = #{user_id}
    </update>
    <!--更新数据库大json字段-->
    <update id="updateJson" parameterType="com.bean.Model">
        UPDATE model SET
        json =  #{json}
        WHERE model_name = #{model_name} AND user_id = #{user_id}
    </update>
    <!--&lt;!&ndash;操作指标，有则更新，无则插入，所有的共用这个，可行吗？&ndash;&gt;-->
    <!--<insert id="addIndex" parameterType="com.bean.Model">-->
        <!--<selectKey keyProperty="count" resultType="int" order="BEFORE">-->
            <!--select count(*) from sys_model where model_name = #{model_name}-->
        <!--</selectKey>-->
        <!--<if test="count == 0">-->
            <!--INSERT INTO sys_model-->
            <!--(model_name,model_classify,model_info,user_id,growth_ability,-->
            <!--competitive_ability,financing_ability,teamcomposition_ablity,publicvoice_ability,innovatiove_ability,-->
            <!--external_ability,main_business_income_2015,main_business_cgr_3years,net_profit_cgr_3years,total_assets_cgr_3years,-->
            <!--capital_cgr_3years,main_business_profit_rate,total_assets_yield_rate,net_asset_yield_rate,capital_stock,total_assets,-->
            <!--baidu_included,webmaster_ranking,search_engine_index,receivables_turnover_rate,total_assets_turnover_rate,-->
            <!--liquidity_ratio,shareholder_number,business_valuation,shareholder_equity,Market_makers_number,-->
            <!--investor_number,equity_investment_number,bond_financing_amount,amount_of_financing,workers_number,-->
            <!--graduate_student_proportion,undergraduate_proportion,junior_student_proportion,under_junior_proportion,managers_change_frequency,-->
            <!--public_attention_index,wechat_attention_index,invention_sum,computer_copyright_sum,certificate_sum,-->
            <!--brand_sum,research_people_rate,research_put_into_rate,son_company_number,industry_business_code,-->
            <!--value_of_area)-->
            <!--VALUE-->
            <!--(#{model_name},#{model_classify},#{model_info},#{user_id},#{growth_ability},#{-->
            <!--competitive_ability},#{financing_ability},#{teamcomposition_ablity},#{publicvoice_ability},#{innovatiove_ability},#{-->
            <!--external_ability},#{main_business_income_2015},#{main_business_cgr_3years},#{net_profit_cgr_3years},#{total_assets_cgr_3years},#{-->
            <!--capital_cgr_3years},#{main_business_profit_rate},#{total_assets_yield_rate},#{net_asset_yield_rate},#{capital_stock},#{total_assets},#{-->
            <!--baidu_included},#{webmaster_ranking},#{search_engine_index},#{receivables_turnover_rate},#{total_assets_turnover_rate},#{-->
            <!--liquidity_ratio},#{shareholder_number},#{business_valuation},#{shareholder_equity},#{Market_makers_number},#{-->
            <!--investor_number},#{equity_investment_number},#{bond_financing_amount},#{amount_of_financing},#{workers_number},#{-->
            <!--graduate_student_proportion},#{undergraduate_proportion},#{junior_student_proportion},#{under_junior_proportion},#{managers_change_frequency},#{-->
            <!--public_attention_index},#{wechat_attention_index},#{invention_sum},#{computer_copyright_sum},#{certificate_sum},#{-->
            <!--brand_sum},#{research_people_rate},#{research_put_into_rate},#{son_company_number},#{industry_business_code},#{-->
            <!--value_of_area})-->
        <!--</if>-->
        <!--<if test="count > 0">   &lt;!&ndash;如果模型名称已存在，就更新模型说明&ndash;&gt;-->
            <!--UPDATE sys_model SET-->
            <!--(model_name,model_classify,model_info,user_id,growth_ability,-->
            <!--competitive_ability,financing_ability,teamcomposition_ablity,publicvoice_ability,innovatiove_ability,-->
            <!--external_ability,main_business_income_2015,main_business_cgr_3years,net_profit_cgr_3years,total_assets_cgr_3years,-->
            <!--capital_cgr_3years,main_business_profit_rate,total_assets_yield_rate,net_asset_yield_rate,capital_stock,total_assets,-->
            <!--baidu_included,webmaster_ranking,search_engine_index,receivables_turnover_rate,total_assets_turnover_rate,-->
            <!--liquidity_ratio,shareholder_number,business_valuation,shareholder_equity,Market_makers_number,-->
            <!--investor_number,equity_investment_number,bond_financing_amount,amount_of_financing,workers_number,-->
            <!--graduate_student_proportion,undergraduate_proportion,junior_student_proportion,under_junior_proportion,managers_change_frequency,-->
            <!--public_attention_index,wechat_attention_index,invention_sum,computer_copyright_sum,certificate_sum,-->
            <!--brand_sum,research_people_rate,research_put_into_rate,son_company_number,industry_business_code,-->
            <!--value_of_area)-->
            <!--VALUE-->
            <!--(#{model_name},#{model_classify},#{model_info},#{user_id},#{growth_ability},#{-->
            <!--competitive_ability},#{financing_ability},#{teamcomposition_ablity},#{publicvoice_ability},#{innovatiove_ability},#{-->
            <!--external_ability},#{main_business_income_2015},#{main_business_cgr_3years},#{net_profit_cgr_3years},#{total_assets_cgr_3years},#{-->
            <!--capital_cgr_3years},#{main_business_profit_rate},#{total_assets_yield_rate},#{net_asset_yield_rate},#{capital_stock},#{total_assets},#{-->
            <!--baidu_included},#{webmaster_ranking},#{search_engine_index},#{receivables_turnover_rate},#{total_assets_turnover_rate},#{-->
            <!--liquidity_ratio},#{shareholder_number},#{business_valuation},#{shareholder_equity},#{Market_makers_number},#{-->
            <!--investor_number},#{equity_investment_number},#{bond_financing_amount},#{amount_of_financing},#{workers_number},#{-->
            <!--graduate_student_proportion},#{undergraduate_proportion},#{junior_student_proportion},#{under_junior_proportion},#{managers_change_frequency},#{-->
            <!--public_attention_index},#{wechat_attention_index},#{invention_sum},#{computer_copyright_sum},#{certificate_sum},#{-->
            <!--brand_sum},#{research_people_rate},#{research_put_into_rate},#{son_company_number},#{industry_business_code},#{-->
            <!--value_of_area})-->
            <!--WHERE model_name = #{model_name}-->
        <!--</if>-->
    <!--</insert>-->
    <!--删除模型（根据model_name和user_id删除）-->
    <delete id="deleteModel">
        DELETE FROM model
        WHERE  user_id = #{user_id} AND model_name = #{model_name}
    </delete>
</mapper>